appdirs==1.4.4
backcall==0.2.0
beautifulsoup4==4.9.3
certifi==2020.12.5
cfgv==3.2.0
chardet==4.0.0
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
identify==1.5.12
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
lxml==4.6.2
nodeenv==1.5.0
parso==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pre-commit==2.9.3
prompt-toolkit==3.0.10
ptyprocess==0.7.0
Pygments==2.7.4
PyYAML==5.3.1
requests==2.25.1
simple-settings==1.0.0
six==1.15.0
soupsieve==2.1
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.2
virtualenv==20.3.1
wcwidth==0.2.5
